In [1]:
#importing Deopendencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#loading the dataset into Pandas DataFrame
credit_card = pd.read_csv('/content/creditcard.csv')

In [3]:
#first five rows of the dataset
credit_card.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [4]:
#last five rows of the dataset
credit_card.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
19893  30631 -0.377215  0.973528  1.647077  ...  0.056522  0.033139   29.90    0.0
19894  30631  1.209281  0.078793  0.061820  ... -0.025292  0.021130   16.00    0.0
19895  30632  1.286596 -1.450336  0.814530  ...  0.026395  0.030885   92.00    0.0
19896  30633 -0.488090  1.018448  0.670593  ...  0.130266  0.067290    1.99    0.0
19897  30633 -2.609841  2.479357  0.763844  ...       NaN       NaN     NaN    NaN

[5 rows x 31 columns]

In [5]:
#dataset information
credit_card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19898 entries, 0 to 19897
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    19898 non-null  int64
 1   V1      19898 non-null  float64
 2   V2      19898 non-null  float64
 3   V3      19898 non-null  float64
 4   V4      19898 non-null  float64
 5   V5      19898 non-null  float64
 6   V6      19898 non-null  float64
 7   V7      19898 non-null  float64
 8   V8      19898 non-null  float64
 9   V9      19898 non-null  float64
 10  V10     19898 non-null  float64
 11  V11     19897 non-null  float64
 12  V12     19897 non-null  float64
 13  V13     19897 non-null  float64
 14  V14     19897 non-null  float64
 15  V15     19897 non-null  float64
 16  V16     19897 non-null  float64
 17  V17     19897 non-null  float64
 18  V18     19897 non-null  float64
 19  V19     19897 non-null  float64
 20  V20     19897 non-null  float64
 21  V21     19897 non-null  float64
 22  V22     19897 non-null  float64
 23  V23     19897 non-null  float64
 24  V24     19897 non-null  float64
 25  V25     19897 non-null  float64
 26  V26     19897 non-null  float64
 27  V27     19897 non-null  float64
 28  V28     19897 non-null  float64
 29  Amount  19897 non-null  float64
 30  Class   19897 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 4.7 MB

In [6]:
#checking number of missing value in each colum
credit_card.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [7]:
#checking the shape of the dataset
credit_card.shape

(19898, 31)

In [8]:
#droping the Null values/missing values
credit_card_data = credit_card.dropna(how='any')

In [9]:
credit_card_data.shape

(19897, 31)

In [10]:
#checking null values agin
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [13]:
#distribudtion of legit and fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    19812
1.0       85
Name: Class, dtype: int64

Dataset is highly imbalanced

0 ----> normal transactions

1 ----> Fraudulent transactions

In [14]:
#separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [15]:
print(legit.shape)
print(fraud.shape)

(19812, 31)
(85, 31)

In [16]:
#statistical measures of the data
legit.Amount.describe()

count    19812.000000
mean        70.169855
std        205.091118
min          0.000000
25%          5.900000
50%         16.070000
75%         59.950000
max       7879.420000
Name: Amount, dtype: float64

In [17]:
fraud.Amount.describe()

count      85.000000
mean       93.869647
std       261.736641
min         0.000000
25%         1.000000
50%         1.000000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [18]:
#compare the values for both transactions
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    15483.312841 -0.207233  0.215159  ...  0.010624  0.006940  70.169855
1.0    17436.164706 -8.862174  6.570214  ...  0.907255  0.093985  93.869647

[2 rows x 30 columns]

Under-Sampling

Build a sample dataset containing similar distribution of normal and fraudulent transactions

Number of Fradulent transactions ---> 85

Number of Normal transictions ---> 152298

In [19]:
legit_sample = legit.sample(n=85)

In [20]:
#Concatennating two dataframes
new_dataset = pd.concat([legit_sample, fraud],axis=0)

In [21]:
new_dataset.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
9125   12886 -2.097094 -0.503764  0.481407  ... -0.325427 -0.144792   48.00    0.0
6441    7657  1.294428 -0.586259  0.716298  ... -0.023549  0.001925   33.00    0.0
19507  30335  1.262842  1.187528 -1.923626  ...  0.031320  0.077145    0.89    0.0
12280  21454 -0.542825  0.232401  1.875498  ...  0.193215  0.173038   11.85    0.0
996      752 -2.101171 -0.227365  1.624668  ...  0.323580  0.034622    1.78    0.0

[5 rows x 31 columns]

In [22]:
new_dataset.tail()

        Time         V1         V2  ...       V28  Amount  Class
17480  28755 -30.552380  16.713389  ...  0.356660   99.99    1.0
18466  29526   1.102804   2.829168  ...  0.153318    0.68    1.0
18472  29531  -1.060676   2.608579  ...  0.192177    0.68    1.0
18773  29753   0.269614   3.549755  ...  0.402400    0.68    1.0
18809  29785   0.923764   0.344048  ... -0.049729   30.30    1.0

[5 rows x 31 columns]

In [23]:
new_dataset['Class'].value_counts()

1.0    85
0.0    85
Name: Class, dtype: int64

In [24]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    14747.352941 -0.152124  0.143837  ... -0.017467  0.023469  52.426588
1.0    17436.164706 -8.862174  6.570214  ...  0.907255  0.093985  93.869647

[2 rows x 30 columns]

slpitting the data into Features and Targets

In [25]:
X = new_dataset.drop(columns='Class', axis =1)
Y = new_dataset['Class']

In [26]:
print(X)

        Time         V1         V2  ...       V27       V28  Amount
9125   12886  -2.097094  -0.503764  ... -0.325427 -0.144792   48.00
6441    7657   1.294428  -0.586259  ... -0.023549  0.001925   33.00
19507  30335   1.262842   1.187528  ...  0.031320  0.077145    0.89
12280  21454  -0.542825   0.232401  ...  0.193215  0.173038   11.85
996      752  -2.101171  -0.227365  ...  0.323580  0.034622    1.78
...      ...        ...        ...  ...       ...       ...     ...
17480  28755 -30.552380  16.713389  ...  1.232636  0.356660   99.99
18466  29526   1.102804   2.829168  ...  0.009146  0.153318    0.68
18472  29531  -1.060676   2.608579  ... -0.130918  0.192177    0.68
18773  29753   0.269614   3.549755  ...  0.553255  0.402400    0.68
18809  29785   0.923764   0.344048  ...  0.489035 -0.049729   30.30

[170 rows x 30 columns]

In [27]:
print(Y)

9125     0.0
6441     0.0
19507    0.0
12280    0.0
996      0.0
        ...
17480    1.0
18466    1.0
18472    1.0
18773    1.0
18809    1.0
Name: Class, Length: 170, dtype: float64

In [28]:
#spilting into training and testing 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [29]:
print(X.shape, X_train.shape, X_test.shape)

(170, 30) (136, 30) (34, 30)

Model Training

In [31]:
#Logistic Regression
model = LogisticRegression()

In [32]:
#training the model
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Evaluation

In [33]:
#Accuracy Score on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [34]:
print("Accuracy on training data : ", training_data_accuracy)

Accuracy on training data :  0.9926470588235294

In [35]:
#Accuracy Score on Testing data
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [36]:
print("Accuracy on testing data : ", testing_data_accuracy)

Accuracy on testing data :  0.9117647058823529

EXtra

In [37]:
#slpitting the data into Features and Targets
A = credit_card_data.drop(columns='Class', axis =1)
B = credit_card_data['Class']

In [38]:
#Accuracy Score on Dataset
A_prediction = model.predict(A)
dataset_accuracy = accuracy_score(A_prediction, B)

In [39]:
print("Accuracy on Dataset: ",dataset_accuracy)

Accuracy on Dataset:  0.9683369352163643